<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset=utf-8>
</head>

<body>
    <div id="app">
        <div class="newTask">
            <input type="text" v-model="newTodo" @keyup.enter="addTodo">
        </div>
        <ul class="todos">
            <li v-for="todo in todoList">
                <input type="checkbox" v-model="todo.done"> 创建时间：{{todo.createdAt}} 工作内容：{{ todo.title }} 完成状态：
                <span v-if="todo.done">已完成</span>
                <span v-else>未完成</span>
                <button v-on:click="removeTodo(todo)">清除记录</button>  <!-- 👈 加了一个按钮 -->
            </li>
        </ul>
    </div>
    <script src="bundle.js"></script>
</body>

</html>