<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset=utf-8>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/page.css">
</head>

<body>
    <div id="app" v-cloak>
        <section id="signInAndSignUp" v-if="!currentUser">
            <div class="boxWrap">
                <transition>
                <div class="userInfo signUp" v-if="actionType==='signUp'">
                    <h2>SIGN UP</h2>
                    <form v-on:submit.prevent="signUp">
                        <div class="formRow">
                            <input type="text" v-model="formData.username" placeholder="Full name" >
                        </div>
                        <div class="formRow">
                            <input type="password" v-model="formData.password" placeholder="Password">
                        </div>
                        <div class="formActions">
                            <input class="signUpButton" type="submit" value="注册">
                        </div>
                    </form>
                </div>
                <div class="userInfo login" v-if="actionType=='login'">
                    <h2>LOG IN</h2>
                    <form v-on:submit.prevent="login">
                        <div class="formRow">
                            <input type="text" v-model="formData.username" placeholder="Username">
                        </div>
                        <div class="formRow">
                            <input type="password" v-model="formData.password" placeholder="Password">
                        </div>
                        <div class="formActions">
                            <input class="logInButton" type="submit" value="登入">
                        </div>
                    </form>
                </div>
                </transition>
            </div>
            <div class="signInAndSignUpInfo">
                <div class="loginInfo">
                    <h3>Don't Have an account?</h3>
                    <p>Personalize Switter based on where you're seen Switter content on the web.Learn more.</p>
                    <a v-on:click="actionType = 'signUp'" value="signUp">SIGN UP</a>
                </div>
                <div class="loginInfo">
                    <h3>Have an account?</h3>
                    <p>Personalize Switter based on where you're seen Switter content on the web.Learn more.</p>
                    <a v-on:click="actionType = 'login'" value="login">LOG IN</a>
                </div>
            </div>
            <div class="bg"></div>
        </section>

        <section id="todo" v-if="currentUser">
            <div class="topbar">
                <div class="logo">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-logo"></use></svg>QuickTodos
                </div>
                <div class="user">
                    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-user"></use></svg>欢迎您，用户<strong>{{currentUser.username}}</strong><a class="logoutUserButton" @click="logout">登出当前账号</a>
                </div>

            </div>
            <div class="todoContent">
                <div class="newTask">
                    <input type="text" v-model="newTodo" @keyup.enter="addTodo" placeholder="请输入代办事项">
                    <button @click="addTodo">添加</button>
                </div>
                <ol class="todos">
                    <li v-for="todo in todoList">
                        <div class="time">
                            <span>{{ todo.createdAt}}</span>
                            <a @click="removeTodo(todo)"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-close"></use></svg></a>
                        </div>
                        <div class="content">
                            {{ todo.title }}
                        </div>
                            <div class="state">
                            <!-- <input type="checkbox" id="checkbox-1" v-model="todo.done" /><label for="checkbox-1">123</label><span class="todoTrue" v-if="todo.done">已完成</span><span class="todoFalse" v-else>未完成</span></label> -->
                            <!-- <input type="checkbox" name="radio-1-1" class="regular-radio" v-model="todo.done"  checked=""><label for="radio-1-1"></label><span class="todoTrue" v-if="todo.done">已完成</span><span class="todoFalse" v-else>未完成</span> -->
                            <label><input type="checkbox" v-model="todo.done" ><span class="todoTrue" v-if="todo.done">已完成</span><span class="todoFalse" v-else>未完成</span></label>
                        </div>
                    </li>
                </ol>
            </div>
        </section>
    </div>
    <script src="bundle.js"></script>
    <script src="//at.alicdn.com/t/font_559374_7r8irehls1m26gvi.js"></script>
</body>
</html>